* {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.ventana {
  width: 50%;
  height: 400px;
  border: thin solid rgb(2, 2, 134);
  margin: 5% auto;
}
.titulo-page h1 {
  color: white;
  font-size: 0.8rem;
  padding: 0.2rem;
  background-color: darkslategrey;
}

.container-content{
  width: 100%;
  height: 92%;
}
.container-response{
  border: thin solid darkslategray;
  width: 98%;
  margin: 1rem auto;
  height: 80%;
  overflow-y: auto;
}
.container-response h2{
  font-size: .8rem;
  padding-left: .3rem;
  margin-bottom: 1rem;
}
.container-response table{
  padding-left: 1rem;
}
.container-response tr th{
  padding-right: 2rem;
  border-top: thin solid darkslategrey;
  border-bottom: thin solid darkslategrey;
}
